# Environment Name
APP_ENV=development

# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=policypilot
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# SQLAlchemy Connection URL (for Backend)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Backend Config
BACKEND_URL=http://localhost:8000

# Frontend Config
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000

# Authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=

